<!-- Everything inside of #tag pulls data from the tag -->
{{!< default}}
{{#tag}}
    <div class="container">
        <div class="img-responsive top-img center-block"{{#if image}} style="background-image: url({{image}}) "{{else}}no-cover style="display:none"{{/if}} alt={{name}}>
        <h1> {{name}}</h1>
        <h2>{{description}}</h2>
        </div>
    </div>
{{/tag}}

<main class="container clearfix"role="main">
    <!-- includes the post loop - partials/loop.hbs -->
    {{> "loop"}}
    {{pagination}}
</main>


